@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, 
h2, 
h3, 
h4, 
h6, 
p, 
div,
span {
  font-family: 'Quicksand', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}